@page "/discover/{movieParam1:int?}/{movieParam2:int?}/{movieParam3:int?}/{movieParam4:int?}/{movieParam5:int?}/"
@using System.Diagnostics.Eventing.Reader
@using DiscoverMoviesProduction
@model DiscoverModel
@{
    ViewData["Title"] = "Discover";
}

<h3>Disover movies</h3>
@if (Model.displayAddMoveForm)
{

    <p>Select 5 movies</p>
    <div>
        <p>
            <form method="post">
                <div class="form-group">
                    <div class="ui-widget">
                        <label asp-for="theinput.Name"></label>
                        <input id="search-field" class="form-control" asp-for="theinput.Name" />
                    </div>

                    @*              <span asp-validation-for="theinput.Name" class="text-danger"></span>
                    *@
                </div>

                @{
                    if (Model.MovieList.Count == 4)
                    {
                        <button type="submit" id="search-button" class="btn btn-success">Add Movie and discover resulting movie</button>
                    }
                    else
                    {
                        <button type="submit" id="search-button" class="btn btn-primary">Add Movie</button>
                    }
                }
            </form>
        </p>
    </div>
}

<h3>Selected movies</h3>
<div class="row">
    @foreach (Movie movie in Model.MovieList)
    {
        <a href="/movie/@movie.movieId" class="col-xl-2 col-sm-6 col-md-4">
            @{
                if (@movie._posterUrl == null)
                {
                    @movie._title <br />
                    <img src=/Images/MissingPoster.png height="237" width="165">
                }

                else
                {
                    @movie._title <br />
                    <img src=@("https://www.themoviedb.org/t/p/w220_and_h330_face" + @movie._posterUrl) height="237" width="165">
                }
            }
        </a>
    }
</div>

@if (Model.MovieList.Count > 0)
{
    <div class="">
        <form asp-page-handler="clear" method="post">
            <button class="btn btn-primary">Clear movies</button>
        </form>
    </div>
}

@if (Model.AlgorithmMovieResult != null)
{
    <div class="align-content-center w-auto text-lg-center">
        <h3>Resulting movie from discover algorithm</h3>
        <br />
        <a href="/movie/@Model.AlgorithmMovieResult.movieId" class="">
            @{
                if (@Model.AlgorithmMovieResult._posterUrl == null)
                {
                    <h4> @Model.AlgorithmMovieResult._title </h4>
                    <img src=/Images/MissingPoster.png height="237" width="165">
                }

                else
                {
                    <h4> @Model.AlgorithmMovieResult._title </h4>
                    <img src=@("https://www.themoviedb.org/t/p/w600_and_h900_bestv2" + @Model.AlgorithmMovieResult._posterUrl) height="525" width="350">
                }
            }
        </a>
    </div>
}
