@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Welcome To Discover Movies application!</h3>
<p> Discover Movies have provided an application, which you can use to 
    find a specific movie, by <br/> 
    using the search field and options down below.
    <br/><br/>
    You can also try our Discover movie function by pressing the <a href="/discover">Discover tab</a>. Here you'll provide <br/> our algorithm with 5 movies 
    of your choice, and our algorithm will provide you with a qualified guess of the sixth movie recommend to you <br/> This is based on the 5 movies you provided to the algorithm.
    <br/><br/>

</p>
      <p><form method="post">
          <div class="form-group">
              <p>Searching Field</p>
              
              <input id="input1" class="form-control" asp-for="theinput.Name" />

              <select id="Select1" asp-items="@(new SelectList(Model.Soegninger))" asp-for="theinput.Searchtype">
                  <option value="">Search Option</option>
              </select>
              
              @* <select id="Select2" asp-items="@(new SelectList(Model.TheOriginaleGenres, "_genreId","_Genrename"))" asp-for="theinput.GenreID">
                   <option value="" selected disabled> -- Select genre --</option>
              </select>*@

              <select id="Select2" asp-items="@(new SelectList(Model.TheOriginaleGenres, "_genreId","_Genrename"))" asp-for="theinput.GenreID">
                  <option value="0"> Select genre </option>
              </select>

              <select id="Select3" asp-items="@(new SelectList(Model.Year))" asp-for="theinput.Year">
                  <option value="0">Select Year of creation</option>
              </select>

              @*@if (Model.theinput.Name != "")
                 {
                    if (Model.theinput.Searchtype == "0")
                    {
                        <span asp-validation-for="theinput.Searchtype" class="text-danger">Search option required when Search field has value</span>
                    }
                 }*@
          </div>
          <br/>

          <input type="submit" id="btnSubmit" value="Submit"/>
          <input type="button" id="btnReset" value="Reset" onclick="Reset();"/>
          <p>Search result count: @Model.MovieList.Count</p>

          <script type="text/javascript">
              function Reset() {
                  var dropDown1 = document.getElementById("Select1");
                  var dropDown2 = document.getElementById("Select2");
                  var dropDown3 = document.getElementById("Select3");

                  dropDown1.selectedIndex = 0;
                  dropDown2.selectedIndex = 0;
                  dropDown3.selectedIndex = 0;
              }
          </script>

      </form></p>



<div class="row">
    @foreach(Movie movie in Model.MovieList)
    {
       <a href="/movie/@movie.movieId" class="col-xl-2 col-sm-6 col-md-4"> 
           @{
               if(@movie._posterUrl == null)
                {
                    @movie._title <br/>
                    <img src=/Images/MissingPoster.png height="237" width="165">
                }

                else
                {
                     @movie._title <br/>
                    <img src=@("https://www.themoviedb.org/t/p/w220_and_h330_face" + @movie._posterUrl) height="237" width="165">
                }
           }
        </a>
    }

   @if (Model.MovieList.Count == 0)
   {
       <p> Sorry, no movies is matching your search options...
           <br/>
           Please try changing the search options, and check for misspelled words.
       </p>
   }
</div>
